<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>List of owners</title>
</head>
<body>
    <h2 th:text="'Owners'">Ola k ase</h2>
<table id="owners" class="table table-striped">
        <thead>

        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 150px;">Nombre</th>
            <th style="width: 150px;">Apellido</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner: ${owners}">
            <td th:text="${owner.id}"></td>
            <td th:text="${owner.firstName}"></td>
            <td th:text="${owner.lastName}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>