<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}"><head>
    <meta charset="UTF-8">
    <title>Vet index</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="com.cubisoft.petclinic.model.Vet"*/-->
<h2 th:text="'List of vets'">Ola k ase</h2>
<table id="vets" class="table table-striped">
    <thead>

    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet: ${vets}">
        <td th:text="${vet.id}"></td>
        <td th:text="${vet.firstName}"></td>
        <td th:text="${vet.lastName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>